@model IEnumerable<WebApplication3.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Category</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th> Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <a asp-action="ViewDetails" asp-route-id="@category.CategoryId" class="btn btn-info mx-3">Details</a>
                    <a asp-action="Edit" asp-route-id="@category.CategoryId" class="btn btn-warning mx-3">Edit</a>
                    <a asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-danger mx-3">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
