@model WebApplication3.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h2>Product Details</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Quantity</dt>
        <dd class="col-sm-10">@Model.Quantity</dd>

        <dt class="col-sm-2">Category</dt>
        <dd class="col-sm-10">@Model.Category.Name</dd>
    </dl>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
